{% extends 'frontend/base.html' %}
{% block title %} Data Table {% endblock %} 
{% block content %}
<body>
<div class="container" >
    <table class="table" style="margin-top: 10%;">
        <thead>
            <tr>
                <th>Firstame</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Description</th>
                <!-- <th>Status</th> -->
            </tr>
        </thead>
        <tbody>
            {% for p in form %}
            <tr>
                <td>{{p.firstname}}</td>
                <td>{{p.lastname}}</td>
                <td>{{p.email}}</td>
                <td>{{p.phone}}</td>
                <td>{{p.desc}}</td>
                <!-- <td>{{p.product_status}}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}