{% extends 'frontend/base.html' %}
{% block title %} Home {% endblock %} 
{% block content %}

<body style="background-color: white;">



<img src="static/images/cloud1.png" class="d-block w-100">

<div class="container" >
  <h2 class="text-center font-family" style="margin-top:40px">Enter your information below</h1>
  <p class="text-center">To add in to the free course <a style="color:red">!!ONLY 10 persons first!!</a></p>
</div>


<div class="container">
  <form class="contact-form" method="post" >
    <!-- {% csrf_token % } -->
    {{form}}
    <div class="form-row justify-content-center">
      <div class="col-md-4 mb-3" style="margin-top:30px">
        <label for="firstname" >First name</label>
        <input type="text" class="form-control" id="validationDefault01" placeholder="Ex : Mark" required >
      </div>
      <div class="col-md-4 mb-3" style="margin-top:30px">
        <label for="validationDefault02" >Last name</label>
        <input type="text" class="form-control" id="validationDefault02" placeholder="Ex : Otto" required>
      </div>
    
<div class="col-md-5 mb-3 justify-content-center">
      <label for="exampleInputEmail1" style="margin-top:10px">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text  "style="color: #eb4034;">* We'll never share your email with anyone else.</small>
    </div>
      <div class="col-md-3 mb-3 justify-content-center">
        <label for="validationDefault05" style="margin-top: 10px">Telephone Number</label>
        <input type="text" class="form-control" id="validationDefault05" required>
      </div>
      
      <div class="form-group col-md-5">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
      </div>
    </div>
    <div align="center" >
    <button class="btn btn-primary col-md-2" type="submit" style="margin-top:30px">Submit</button>
    </div>
  </form>
</div>

</body>
<!-- <div align="center">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
<br> -->

<!-- <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Barcode</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <td>{{p.product_name}}</td>
                <td>{{p.product_details}}</td>
                <td>{{p.product_barcode}}</td>
                <td>{{p.product_qty}}</td>
                <td>{{p.product_price}}</td>
                <td>{{p.product_status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> -->
{% endblock %}